<div class="sidebar">

    <h4>ERP Lite</h4>
    <nav>
        <a href="/">
            🏠 Dashboard
        </a>
        <a href="/clientes">
            👥 Clientes
        </a>
        <a href="/produtos">
            📦 Produtos
        </a>
    </nav>
</div>