@page "/"

<h1>Dashboard</h1>

<div class="dashboard">

    <div class="card">
        <h3>Clientes</h3>
        <p>3</p>
    </div>
    
    <div class="card">
        <h3>Produtos</h3>
        <p>0</p>
    </div>

    <div class="card">
        <h3>Vendas</h3>
        <p>0</p>
    </div>
    
</div>